<div class="toolbar">
    <div *ngFor="let user of users">
        <div id="info" *ngIf="usersID == user.id">
            <img [src]="user.photo" alt="Avatar" id="avatar">
            <div id='name_status'>
                <p style="font-size: 15px; font-weight: 500; color: #212121;">{{ user.name }}</p>
                <p style="font-size: 14px; color: #757575;">{{ user.status }}</p>
            </div>
        </div>
    </div>
    <div id="icon_info" ng-controller="myCtrl">
        <img src="/assets/ICON/IconAppChat/4.svg" alt="Search" id="info1">
        <img src="/assets/ICON/IconAppChat/5.svg" (click)=toggleDisplayDivIf() alt="Info" id="info2">
        <img src="/assets/ICON/IconAppChat/2.svg" alt="Open" id="info3">
    </div>
</div>
<div id="c3" *ngIf="!isShowDivIf">
    <app-info></app-info>
</div>
<div id="c4">
    <app-chat-activity></app-chat-activity>
</div>
