<div style="overflow: scroll;overflow-x: hidden;">
    <div *ngFor="let user of users">
        <div class="info" *ngIf="usersID == user.id">
            <img [src]="user.photo" alt="Avatar" id="avatar">
            <br>
            <p style="font-size: 20px; font-weight: 700; color: #212121;"><strong>{{ user.name }}</strong></p>
            <p style="font-size: 16px; letter-spacing: -.13px; color: #666666;">{{ user.phone }}</p>
            <p style="font-size: 16px; letter-spacing: -.13px; color: #666666;">{{ user.email }}</p>
        </div>
    </div>
    <div class="file">
        <button type="button" class="drop-file" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false" (click)=toggleDisplayFile()>
            <img src="/assets/ICON/IconAppChat/13.svg" alt="Drop" id="drop">
            <p class="header" style="font-size: 16px; letter-spacing: -.13px; color: #666666;">TỆP ĐÃ CHIA SẺ</p>
        </button>
        <div *ngIf="!isShowFile" id="dropdown-file">
            <ul type="square" *ngFor="let file of files">
                <li>
                    <img src="https://img.icons8.com/officel/16/000000/pdf.png" alt="IconPDF" style="width: 16px; height: 16px;"/>
                    <a class="item">{{ file.name }}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="image">
        <button type="button" class="drop-img" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false" (click)=toggleDisplayImg()>
            <img src="/assets/ICON/IconAppChat/13.svg" alt="Drop" id="drop">
            <p class="header" style="font-size: 16px; letter-spacing: -.13px; color: #666666;">ẢNH ĐÃ CHIA SẺ</p>
        </button>
        <div *ngIf="!isShowImg" id="dropdown-img">
            <ul type="square" class="center">
                <li>
                    <div class="row" style="padding: 10px;" *ngFor="let img of images">
                        <div class="col">
                            <img [src]="img.url" class="rounded" >
                        </div>
                        <div class="col">
                            <img [src]="img.url" class="rounded" >
                        </div>
                        <div class="col">
                            <img [src]="img.url" class="rounded" >
                        </div>
                        <div class="col">
                            <img [src]="img.url" class="rounded" >
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>