<div class="messages" #scrollframe>
    <ul *ngFor="let message of messages" #item>
        <li class="replies" *ngIf="message.senderID == 0 && message.receiverID == userID">
            <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
            <p>{{ message.message }}</p>
        </li>
        <li class="sent" *ngIf="message.receiverID == 0 && message.senderID == userID">
            <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
            <p>{{ message.message }}</p>
        </li>
    </ul>
</div>
<div class="sendMessage">
    <img src="/assets/ICON/IconAppChat/10.svg" alt="File" id="info1">
    <img src="/assets/ICON/IconAppChat/9.svg" alt="Image" id="info2">
    <p id="info3">Buzz</p>
    <input type="text" id="message" placeholder="Nhập nội dung tin nhắn, gõ @tên để nhắc tên" #box (keyup.enter)="onEnter(box.value); box.value=''" />
    <img src="/assets/ICON/IconAppChat/7.svg" alt="Smile" id="smile" >  
</div> 
