<div class="main_user_list" ng-controller="filterctrl">
  <div class="search_user d-none d-lg-block">
    <div class="search">
      <input id="myInput" class="search_button" type="text" placeholder="&#xF002; Tìm kiếm cuộc trò chuyện" style="font-family:Arial, FontAwesome" [(ngModel)] = "searchTerm" (ngModelChange) = "search()"/>
      <img src="../../assets/ICON/IconAppChat/3.svg" alt="Add" class="add_button">
    </div>
  </div>
  <div id="item" (click)="onSelect(user)" *ngFor="let user of users" style="background-color: #0a1d3b;color: white"
    class="list">
    <div id="user" class="users">
      <igx-avatar igxListThumbnail [src]="user.photo" roundShape="true"></igx-avatar>
      <span class="status" *ngIf="user.status"></span>
      <div class="info d-none d-lg-block" style="display: none;">
        <div style="float: left;width: 200px;">
          <h4 igxListLineTitle>{{ user.name }}</h4>
          <p igxListLineSubTitle class="phone">{{ user.lastMessage }}</p>
        </div>
        <div style="float: right; margin-right: 16px; width: 100px;">
          <p class="time">1 day</p>
        </div>
      </div>
    </div>
  </div>
